.f-nav {
	position:fixed !important;
	z-index:9999 !important;
	top: 0px;
	background-color: rgba(255, 255, 255, 0.2);
}

.col-md-4 {
  	height:90px;
}
.menu-items {
    display: block;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 37px !important;
}

h3.menu-item-title {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.2em;
    margin: 0px;
    color: #393939;
    width: auto;
    padding-right: 30px;
    box-shadow: inset 0 -1px 0 #ddd;
    display: inline-table;
    line-height: 1.3;
    /* color: darkkhaki; */
}

h3.menu-item-title:after {
    background: #b30000;
    clear: both;
    display: block;
    float: left;
    content: "";
    position: relative;
    height: 2px;
    width: 70%;
    margin: 10px 30% 0 0;
    border-radius: 2px;
    padding: 0;
}

.menu-item-text,
.menu-item-price {
    color: darkkhaki;
    font-size: 16px;
    font-weight: 700;
}

.menu-item-text {
    float: left;
  	width:80%;
}

.menu-item-price {
    text-align: right;
    width: 20%;
}

.menu-item-description {
	font-size: 15px;
	margin-bottom: 10px;
}
/*************** End Changes to Food Menu items ***************/

/************** Start Changes to Modal Popup Box **************/
.white-popup {
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    max-width: 500px;
    margin: 20px auto;
}
/*************** End Changes to Modal Popup Box ***************/
